div.char {
    border: 1px solid black;
    margin: 10px;
    min-width: 200px;
    max-width: 300px;
    flex-basis: auto;
    border-radius: 0 5px 5px 5px;
    box-shadow: 5px 3px 3px lightgray;
    background-color: white;
    float: left;
}

    div.char div.info {
        /*float: left;*/
        margin: 0;
        padding: 5px;
    }

    div.info p {
        margin: 0;
    }

    div.char div.sample {
        font-size: 36pt;
        float: left;
        min-width: 40px;
        min-height: 50px;
        background-color: #C0C0C0;
        margin-bottom: 20px;
        margin-right: 2px;
        cursor: copy;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    div.char div.latin {
        background-color: #C0C0A0;
    }

div.element {
    --border-corner-radius: 8px;
    --border-style: dashed;

    border-color: grey;
    border-width: 2px;
    border-top-style: var(--border-style);
    border-bottom-style: var(--border-style);
    margin-bottom: 4px;
    background-color: #E0E0E0;
}

    div.element.element-start {
        border-left-style: var(--border-style);
        border-right-style: hidden;
        border-top-left-radius: var(--border-corner-radius);
        border-bottom-left-radius: var(--border-corner-radius);
        margin-left: 4px;
    }

    div.element.element-middle {
        border-left-style: hidden;
        border-right-style: hidden;
    }

    div.element.element-end {
        border-left-style: hidden;
        border-right-style: var(--border-style);
        margin-right: 4px;
        border-top-right-radius: var(--border-corner-radius);
        border-bottom-right-radius: var(--border-corner-radius);
    }

.element-sample {
    float: left;
    height: 100%;
    font-size: 40pt;
    padding: 2px;
    background-color: #E0E0E0;
    margin-bottom: 20px;
    margin-right: 2px;
}

