@inherits LayoutComponentBase
@inject IJSRuntime js

<PageTitle>Uni(-code) Decoder</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await js.InvokeAsync<IJSObjectReference>("import", "./js/inactivityTimer.js");
            await _module.InvokeVoidAsync("initializeInactivityTimer");
        }
    }
}