<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Uni Decoder</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Introduction
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="text">
                <span class="oi oi-text" aria-hidden="true"></span> Text
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="name">
                <span class="oi oi-audio" aria-hidden="true"></span> Name
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="block">
                <span class="oi oi-layers" aria-hidden="true"></span> Block
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cat">
                <span class="oi oi-tags" aria-hidden="true"></span> Category
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
