@using System.Threading
@using Unidecoder.MauiHybrid.Support
@typeparam T
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

@*
 https://www.meziantou.net/infinite-scrolling-in-blazor.htm
 needs a supporting js file: wwwroot/js/infinite-scrolling.js
*@

@foreach (var item in _items)
{
    @ItemTemplate(item)
}
@if (_loading)
{
    @LoadingTemplate
}

<div @ref="_lastItemIndicator" style="height:1px"></div>


