<div>
  <h2>Search by category</h2>
  <p>Characters belong to a category. Select a category below to see its characters.</p>
  <p>Some characters may be replaced by an empty rectangle: this means that the current font (as installed at <em>your</em> side) cannot display it.</p>
  <p>
    Examples: <a class="sample" [routerLink]="['/cat']" [queryParams]="{cat: 'Uppercase Letter'}">Uppercase letter</a>,
    <a class="sample" [routerLink]="['/cat']" [queryParams]="{cat: 'Other Number'}">Other Number</a> or
    <a class="sample" [routerLink]="['/cat']" [queryParams]="{cat: 'Math Symbol'}">Math Symbol</a>.
  </p>
  <form>
    <select id="catSelect" (change)="processChange()" class="form-control" [(ngModel)]="categoryName" name="catName">
      <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
    </select>
  </form>
  <p><a href="#b=0" id="link4">Shareable link</a></p>
  <app-char-list [characters]="result | async">&hellip;</app-char-list>
</div>

