@using System.Threading
@using UniDecoderBlazorServer.Support
@typeparam T
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

@*
 https://www.meziantou.net/infinite-scrolling-in-blazor.htm
 needs a supporting js file: wwwroot/js/infinite-scrolling.js
*@

@foreach (var item in _items)
{
    @ItemTemplate(item)
}
@if (_loading)
{
    @LoadingTemplate
}

<div @ref="_lastItemIndicator" style="height:1px"></div>

@code {
    private List<T> _items = new();
    private ElementReference _lastItemIndicator;
    private DotNetObjectReference<InfiniteScrolling<T>>? _currentComponentReference;
    private IJSObjectReference? _module;
    private IJSObjectReference? _instance;
    private bool _loading = false;
    private CancellationTokenSource? _loadItemsCts;

    [Parameter]
    public ItemsProviderRequestDelegate<T> ItemsProvider { get; set; } = null!;

    [Parameter]
    public RenderFragment<T> ItemTemplate { get; set; } = null!;

    [Parameter]
    public RenderFragment LoadingTemplate { get; set; } = null!;

    [JSInvokable]
    public async Task LoadMoreItems()
    {
        System.Diagnostics.Debug.WriteLine("========= LoadMoreItems");
        if (_loading)
        {
            return;
        }

        _loading = true;
        try
        {
            _loadItemsCts ??= new CancellationTokenSource();

            StateHasChanged(); // Allow the UI to display the loading indicator
            try
            {
                var newItems = await ItemsProvider(new InfiniteScrollingItemsProviderRequest(_items.Count, _loadItemsCts.Token));
                _items.AddRange(newItems);
            }
            catch (OperationCanceledException oce) when (oce.CancellationToken == _loadItemsCts.Token)
            {
                // No-op; we canceled the operation, so it's fine to suppress this exception.
                System.Diagnostics.Debug.WriteLine("========= LoadMoreItems - cancelled");
            }
        }
        finally
        {
            _loading = false;
        }

        StateHasChanged(); // Display the new items and hide the loading indicator
    }

    protected override async Task OnParametersSetAsync()
    {
        System.Diagnostics.Debug.WriteLine("========= OnParametersSetAsync");
        // Cancel the current load items operation
        if (_loadItemsCts != null)
        {
            _loadItemsCts.Dispose();
            _loadItemsCts = null;
        }

        while (_loading)
        {
            await Task.Delay(100);
        }

        // new list of items, so reset
        _items = new();
        await LoadMoreItems();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Initialize the IntersectionObserver
        if (firstRender)
        {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/infinite-scrolling.js");
            _currentComponentReference = DotNetObjectReference.Create(this);
            _instance = await _module.InvokeAsync<IJSObjectReference>("initialize", _lastItemIndicator, _currentComponentReference);
        }
    }

    public async ValueTask DisposeAsync()
    {
        // Cancel the current load items operation
        if (_loadItemsCts != null)
        {
            _loadItemsCts.Dispose();
            _loadItemsCts = null;
        }

        // Stop the IntersectionObserver
        if (_instance != null)
        {
            await _instance.InvokeVoidAsync("dispose");
            await _instance.DisposeAsync();
            _instance = null;
        }

        if (_module != null)
        {
            await _module.DisposeAsync();
        }

        _currentComponentReference?.Dispose();
    }
}
