@page "/text"
@page "/text/{TextParam}"

@using System.Web
@inject UnidecoderService myservice

<PageTitle>Character details</PageTitle>

<h2>Character details</h2>
<div>Type in (or copy in) some text in the field below. Information about all characters in it will then be shown.</div>
<div>
  For example:
  <dl>
    <dt><a class="sample" href="/text/@Uri.EscapeDataString("Cre&#x0300;me brûlée")">Cre&#x0300;me brûlée</a></dt>
    <dd>A phrase with accented letters</dd>
    <dt><a class="sample" href="/text/@Uri.EscapeDataString("1× 🍕 à €1,‒")">1× 🍕 à €1,‒</a></dt>
    <dd>More exotic "letters" are possible</dd>
    <dt>
      <a class="sample" href="/text/@Uri.EscapeDataString("Рhishy@Μicrοsοﬅ.com")">Рhishy@Μicrοsοﬅ.com</a> or
      <a class="sample" href="/text/@Uri.EscapeDataString("https://аррӏе.com")">https://аррӏе.com</a>
    </dt>
    <dd>You can even detect some phishy addresses (look closely at the letters)</dd>
  </dl>
</div>
<div>
    <p>Type or paste your text to split into characters:</p>
    <input placeholder="Enter the text to inspect" autofocus required
           class="form-control" @bind=SearchText @bind:event="oninput"/>
    @* @bind is two-way binding, @bind:event="oninput" updates the binding on every keystroke *@
</div>

@if (!string.IsNullOrEmpty(SearchText))
{
    <div>Shareable link for <a class="sample" href="/text/@Uri.EscapeDataString(SearchText)">@SearchText</a></div>
}

@if (Characters is not null && Characters.Any())
{
    <section>
    @foreach(var ch in Characters)
    {
        <CharData Character=@ch/>
    }
    </section>
}
else
{
    <p>Please enter a text to investigate.</p>
}

@code {
    private string? _searchText;

    public string? SearchText
    {
        get => _searchText;
        set
        {
            _searchText = value;
            PerformSearch();
        }
    }

    [Parameter]
    public string? TextParam { get; set; }

    public List<CodepointInfo>? Characters{ get; set; }

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrWhiteSpace(TextParam))
        {
            SearchText = HttpUtility.HtmlDecode(Uri.UnescapeDataString(TextParam));
        }
    }

    private void PerformSearch()
    {
        if (!string.IsNullOrWhiteSpace(SearchText))
        {
            Characters = myservice.ListCharacters(SearchText);
        }
    }
}
