@page "/block"
@page "/block/{BlockName}"
@inject UnidecoderService myservice

<PageTitle>Characters by block</PageTitle>

  <h2>Find characters by block</h2>

  <p>Characters are grouped in blocks. Select a block to see its characters.</p>
  <p>Some characters may be replaced by an empty rectangle: this means that the current font (as installed at <em>your</em> side) cannot display it.</p>
  <p>
    Examples: <a class="sample" href="block/Emoticons">Emoticons</a>,
    <a class="sample" href="block/Miscellaneous%20Symbols">Miscellaneous Symbols</a> or
    <a class="sample" href="block/Hebrew">Hebrew</a>.
  </p>

@if (FilteredBlocks is not null)
{
    <select class="form-control" @bind=BlockName title="Select a block to show" @ref="dropdownElement">
        @foreach (var block in FilteredBlocks)
        {
            <option value=@block>@block</option>
        }
    </select>
}
@if (!string.IsNullOrEmpty(BlockName))
{
    <div>Shareable link for <a class="sample" href="block/@Uri.EscapeDataString(BlockName)">@BlockName</a></div>
}

<CharListInfinite Characters=Characters
                    EmptyListMessage="Please select a block to investigate."
                    CountMessageFormat="This block contains {0} characters." />
