body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: blue;
}
a:visited {
  color: blue;
}
a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
}
a.sample {
  padding: 2px;
  border: dotted 1px grey;
  border-radius: 5px;
}
dt {
  margin-top: 10px;
}
dd {
  /* ↪ */
  padding-right: 10px;
}
dd:before {
  content: '↪';
  font-size: 14pt;
}
.result {
  display: flex;
  flex-wrap: wrap;
}
.result .character {
  border: 1px solid black;
  margin: 2px;
  min-width: 200px;
  flex-basis: auto;
  border-radius: 0 5px 5px 5px;
}
.result .character p {
  margin: 0;
}
.result .character p:first-of-type {
  font-size: 36pt;
  float: left;
  padding: 5px;
  min-width: 40px;
  min-height: 50px;
  background-color: #C0C0C0;
  margin-bottom: 20px;
  margin-right: 2px;
  cursor: copy;
}
.result .character p:first-of-type.latin {
  background-color: #C0C0A0;
}
.result .character p:first-of-type:not(.latin) {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#tablist {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border-bottom: 1px solid black;
}
#tablist .tab {
  border: 1px solid black;
  margin: 0 2px;
  padding: 2px;
  border-radius: 5px 5px 0 0;
}
#tablist .tab.opened {
  border-width: 3px;
  border-bottom-color: white;
}
.tabcontent {
  display: none;
}
.tabcontent.visible {
  display: block;
}
input,
select {
  font-size: 20pt;
}